# Zaawansowane typy danych
1. lista
2. krotka
3. słownik
4. zbiory
5. *macierze
6. *ramki danych
7. daty

\* - będą omówione w bloku analizy danych
## Listy
Lista jest to obiekt, który może zawierać wiele elementów. Możemy to porównac np. do listy obecności. Elementami listy mogą być dowolne typy danych. Poszczególne elementy mogą mieć różny typ.

In [1]:
#Tworzenie pustej listy

lista_1 = list()
lista_1

[]

In [2]:
# inny sposób tworzenia listy
lista_2 = []
lista_2

[]

In [3]:
lista_3 = [1,2,3]
lista_3

[1, 2, 3]

In [4]:
type(lista_3)

list

### Odwoływanie się do poszczególnych elementów listy
W celu wyciągnięcia z listy jednego elementu posłużymy się indeksem listy. Każdy kolejny element listy ma przypisany indeks, który zaczyna się od zera. 

Zatem, gdy chcemy znaleźć pierwszy element listy napiszemy: lista[0]

In [5]:
# Odwoływanie się do poszczególnych elementów listy
lista_3[0]

1

#### Indeksowanie ujemne
Używając ujemnych indeksów, odwołujemy się do ostatnich elementów listy, tzn. liczymy od końca. -1 to ostatni element, -2 przedostatni itd.

In [6]:
# Ostatni element listy
lista_3[-1]

3

In [7]:
# Przedostatni element listy
lista_3[-2]

2

In [8]:
# Stwórzmy listę typów zatrudnienia:
zatrudnienie = ['stacjonarne', 'hybrydowe','zdalne', 'nieokreslone']

In [9]:
# Sprzawdźmy jaki indeks w naszej liście ma zatrudnienie zdalne
zatrudnienie.index('zdalne')

2

In [10]:
# Sprawdźmy czy rzeczywiście indeks 2 równy jest 'zdalnie'
zatrudnienie[2]

'zdalne'

In [11]:
# Bardziej zaawansowany sposób
zatrudnienie[zatrudnienie.index('zdalne')]

'zdalne'

In [12]:
# Sprawdzenie długości listy
len(zatrudnienie)

4

In [13]:
# Sprawdzenie typu elementu listy
type(zatrudnienie[2])

str

In [14]:
# Czy lista posiada element o indeksie 4?
zatrudnienie[4]

IndexError: list index out of range

In [15]:
zatrudnienie[1:]

['hybrydowe', 'zdalne', 'nieokreslone']

In [16]:
# lista[x:y] zwraca elementy listy o indeksach z przedziału [x,y) - tzn. zawiera indeks x, ale nie zawiera indeksu y.
zatrudnienie[1:2]

['hybrydowe']

In [17]:
zatrudnienie[1:3]

['hybrydowe', 'zdalne']

In [18]:
zatrudnienie

['stacjonarne', 'hybrydowe', 'zdalne', 'nieokreslone']

In [19]:
# Wyciągnięcie co n-tego wyrazu lista[x::n] zwróci co n-ty wyraz, zaczynając od 2.
zatrudnienie[1::2]

['hybrydowe', 'nieokreslone']

### Metody
Metodą nazwiemy operacje, którą można wykonać na danym obiekcie (typie obiektu).
Nie każdy obiekt musi mieć wbudowane metody, jednak każdy obiekt posiadający metody, ma je dokładnie określone i każdy typ obiektu może mieć inne metody. 
Metody używamy poprzez dodanie na końcu nazwy oiektu "." a następnie nazwy metody.

Omówienie metod list
https://docs.python.org/3/tutorial/datastructures.html

In [20]:
zatrudnienie

['stacjonarne', 'hybrydowe', 'zdalne', 'nieokreslone']

In [ ]:
# Sprawdzenie jakie metody ma lista 
# zatrudnienie.

In [21]:
# dodanie elementu listy 
# metoda append
zatrudnienie.append('dowolne')

In [22]:
zatrudnienie

['stacjonarne', 'hybrydowe', 'zdalne', 'nieokreslone', 'dowolne']

In [23]:
zatrudnienie.append([1,2])
zatrudnienie

['stacjonarne', 'hybrydowe', 'zdalne', 'nieokreslone', 'dowolne', [1, 2]]

In [24]:
zatrudnienie[-1]

[1, 2]

In [25]:
type(zatrudnienie[-1])

list

In [ ]:
# usunięcie błędnych danych
# metoda remove
# zatrudnienie.remove([1,2])

In [26]:
zatrudnienie.remove(zatrudnienie[-1])

In [27]:
zatrudnienie

['stacjonarne', 'hybrydowe', 'zdalne', 'nieokreslone', 'dowolne']

In [ ]:
# Metoda remove usuwa elementy list o podanej wartości

In [29]:
# Jak dodać kilka elementów do listy
lista_do_dodania = [1,2]

In [31]:
zatrudnienie = zatrudnienie + lista_do_dodania

In [32]:
zatrudnienie

['stacjonarne', 'hybrydowe', 'zdalne', 'nieokreslone', 'dowolne', 1, 2]

In [33]:
len(zatrudnienie)

7

In [34]:
zatrudnienie[7:9] = [3,4]

In [35]:
zatrudnienie

['stacjonarne', 'hybrydowe', 'zdalne', 'nieokreslone', 'dowolne', 1, 2, 3, 4]

In [36]:
dl = len(zatrudnienie)
zatrudnienie[dl:dl+2] = [5,6]
zatrudnienie

['stacjonarne',
 'hybrydowe',
 'zdalne',
 'nieokreslone',
 'dowolne',
 1,
 2,
 3,
 4,
 5,
 6]

In [37]:
# Metoda insert dodaje element do listy w określonym miejscu
zatrudnienie.insert(3,'nowy_element')
zatrudnienie

['stacjonarne',
 'hybrydowe',
 'zdalne',
 'nowy_element',
 'nieokreslone',
 'dowolne',
 1,
 2,
 3,
 4,
 5,
 6]

In [38]:
zatrudnienie[3]

'nowy_element'

In [39]:
# Zmiana wartości elementu listy
zatrudnienie[3] = 'brak danych'
zatrudnienie

['stacjonarne',
 'hybrydowe',
 'zdalne',
 'brak danych',
 'nieokreslone',
 'dowolne',
 1,
 2,
 3,
 4,
 5,
 6]

In [40]:
# Metoda pop usuwa element o podanym indeksie.
# W przypadku nie podania argumentu usuwa ostatni element
# Usunięcie ostatniego elementu listy
zatrudnienie.pop()
zatrudnienie

['stacjonarne',
 'hybrydowe',
 'zdalne',
 'brak danych',
 'nieokreslone',
 'dowolne',
 1,
 2,
 3,
 4,
 5]

In [41]:
zatrudnienie.pop(3)
zatrudnienie

['stacjonarne',
 'hybrydowe',
 'zdalne',
 'nieokreslone',
 'dowolne',
 1,
 2,
 3,
 4,
 5]

In [43]:
# Sortowanie elementów listy
# Metoda sort - modyfikuje elementy listy 
lista_numeryczna = [5,3.5,2,4.7,6,1,3]
lista_numeryczna

[5, 3.5, 2, 4.7, 6, 1, 3]

In [45]:
lista_numeryczna.sort()
lista_numeryczna

[1, 2, 3, 3.5, 4.7, 5, 6]

In [46]:

lista_numeryczna.sort(reverse=True)
lista_numeryczna

[6, 5, 4.7, 3.5, 3, 2, 1]

In [48]:
# odwrócenie kolejności elementów listy
lista_numeryczna = [5,3.5,2,4.7,6,1,3]
lista_numeryczna.reverse()
lista_numeryczna

[3, 1, 6, 4.7, 2, 3.5, 5]

In [49]:
# Sprawdzenie ile razy dana wartość występuje w liście
lista_numeryczna = [5,3.5,2,4.7,6,1,5]
lista_numeryczna.count(5)

2

##### Polecenie del

In [50]:
# usunięcie elementu 
del lista_numeryczna[0]
print(lista_numeryczna)

[3.5, 2, 4.7, 6, 1, 5]

In [51]:
# usunięcie listy
del lista_numeryczna
lista_numeryczna

NameError: name 'lista_numeryczna' is not defined

## Tuple - krotki
Krotki są podobnymi zmiennymi do list, chociaż nieznacznie się od siebie różnią. 
Tuple również zawierają zestaw elementów.

In [52]:
# Definiowanie tuple
empty_tuple = ()
type(empty_tuple)

tuple

In [53]:
non_empty_tuple = 1, 2, 'abc'
type(non_empty_tuple)

tuple

In [54]:
non_empty_tuple

(1, 2, 'abc')

In [55]:
# Odwoływanie się do elementów krotki przebiega w taki sami sposób jak dla listy
non_empty_tuple[0]

1

In [56]:
# Istotną różnicą z listą jest fakt, że elementów krotki nie możemy modyfikować
# Nie można też dodawać do niej elementów
non_empty_tuple[0] = 2

TypeError: 'tuple' object does not support item assignment

## Słowniki
Słownik to zmienna postaci klucz:wartość. Ma ona szczególnie zastosowanie, kiedy chcemy, aby indeks odonsił się do realnego przykładu.
Możemy mieć na przykład słownik pracowników, gdzie kluczem będzie nazwa produktu lub jego ID, a wartością jego cena. Klucze w słowniku nie mogą się powtarzać.

In [57]:
# Stworzenie pustego słownika
empty_dict = {}
type(empty_dict)

dict

In [58]:
products_dict = {'pomidor': 5,
                 'jablko' : 4,
                 'banan' : 7.99,
                 'ziemniak': 2.79}

In [59]:
# Wyciąganie elementów słownika wymaga podania klucza
products_dict[0]

KeyError: 0

In [60]:
products_dict['pomidor']

5

In [61]:
# lista kluczy słownika
products_dict.keys()

dict_keys(['pomidor', 'jablko', 'banan', 'ziemniak'])

In [62]:
list(products_dict.keys())

['pomidor', 'jablko', 'banan', 'ziemniak']

In [63]:
# Wartości w słowniku
products_dict.values()

dict_values([5, 4, 7.99, 2.79])

In [64]:
# Wartości w słowniku mogą być zmieniane...
products_dict['pomidor'] = 10
products_dict

{'pomidor': 10, 'jablko': 4, 'banan': 7.99, 'ziemniak': 2.79}

In [65]:
# usuwane...
del products_dict['pomidor']
products_dict

{'jablko': 4, 'banan': 7.99, 'ziemniak': 2.79}

In [66]:
# dodawane,
products_dict['papryka'] = 12.49
products_dict

{'jablko': 4, 'banan': 7.99, 'ziemniak': 2.79, 'papryka': 12.49}

In [67]:
# Inna metoda na znalezienie wartości klucz
products_dict.get('papryka')

12.49

In [68]:
# usuwanie wartości zadanego klucza (wraz z kluczem)
products_dict.pop('papryka')

12.49

In [69]:
# Usunięcie ostatniego wpisu słownika
products_dict.popitem()
products_dict

{'jablko': 4, 'banan': 7.99}

In [70]:
# Usunięcie wszystkich wpisów
products_dict.clear()
products_dict

{}

Słownik może być też bardziej rozbudowany. 
Możemy go używać w postaci bazy danych. 
Wyobraźmy sobie, że mamy dane dotyczące pracowników: imię, nazwisko, wynagrodzenie, liczba lat współpracy, stanowisko itd.
Możemy te informacje przechowywać w słowniku

In [71]:
pracownicy = { 'imie':['Janina','Lech','Maria'],
                'nazwisko': ['Kowalska','Bar','Nowak'] ,
                'wynagrodzenie': [7000,9000,12000],
                'liczba_lat_wspolpracy': [3,4,5]}

In [72]:
# Sprawdźmy, co zwróci klucz imie
pracownicy['imie']

['Janina', 'Lech', 'Maria']

In [73]:
# klucz imie zwraca listę, więc możemy działać na niej, tak jak już potrafimy
pracownicy['imie'][1]

'Lech'

## Zbiory
Zbiór to zestaw elementów bez duplikatów. Jednym z głównyc zastosowań jest usuwanie duplikatów.

In [74]:
# Stworzenie pustego zbioru
empty_set = set()
type(empty_set)

set

In [75]:
non_empty_set = set([1,2,3,4,5,2,3])
non_empty_set

{1, 2, 3, 4, 5}

In [76]:
# Możemy też wyciągnąć unikalne znaki z tekstu
set('aaa,bb,cc,d,e')

{',', 'a', 'b', 'c', 'd', 'e'}

In [77]:
# Sprawdzenie czy zbiór jest podzbiorem innego zbioru
non_empty_set.issubset([1,2,3])

False

In [78]:
non_empty_set.issubset([1,2,3,4,5,6])

True

Zbiory w pythonie działają bardzo podobnie jak zbiory matematyczne. Możemy na nich wykonywać działania sumy, części wspólnej, różnicy

In [79]:
second_set = set([1,4,5,6,7])

In [80]:
# suma
non_empty_set | second_set

{1, 2, 3, 4, 5, 6, 7}

In [81]:
# część wspólna
non_empty_set & second_set

{1, 4, 5}

In [82]:
# część wspólna inaczej
non_empty_set.intersection(second_set)

{1, 4, 5}

In [83]:
# różnica 
non_empty_set - second_set

{2, 3}

In [84]:
# różnica inaczej
non_empty_set.difference(second_set)

{2, 3}